extends /layout/_DefaultLayout

prepend ConfigBlock
  - page_name = ''

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock
  section.contents
    h1.contents__title
      | 講師陣
    h2.contents__subtitle － 一つの人生を生き抜き、境地に至った先達 －
    .contents__desc.lecturer
      h2.lecturer__name 山本哲士先生
      h3.lecturer__desc
        | 鋭く現代産業社会批判をしたイヴァンイリイチに師事した後、多くの著書を出し、自身の智慧を形にされてきた。どんな大学教授よりも知性を醸すその風貌で20年ぶりに堅く閉じた口を今、開く。
      h2.lecturer__name 清水博先生
      h3.lecturer__desc
        | 東大名誉教授にして、現在もNPOの代表として定期的な研究会を主宰するなど知識労働者の生ける鑑。画期的な生命論を提唱し、さらにそれを更新、拡張し続ける姿勢は文理の壁を超えた世界のワクワクを与えてくれる。
      h2.lecturer__name 甲野善紀先生
      h3.lecturer__desc
        | 古武術研究の末、辿り着いた境地は、身体操法の質を変えること。桑田真澄を始めとした有名スポーツ選手に絶大な影響を与えるにとどまらず、介護など多分野に大変革をもたらしている。

  section.contents
    h1.contents__title
      | TA
    h2.contents__subtitle － 皆の二歩、三歩先を行くロールモデルたち －
    .contents__desc.lecturer
      h3.lecturer__desc
        | 駒場の比較文学で修士を取った後、国際的に活躍する指揮者木許裕介氏、官僚として国家を支えながら、国家の在り方を探り続ける筒井諒太郎氏、某大企業を辞め、人工知能を研究するため、東大博士となった大野元己氏、東大嫌いを公言しながら、東大に多くのイノベーションを提供し続けている田中和哉氏、それぞれ道を究めんとする若き猛者たちから学ぶことが出来ず、学芸饗宴の境地にたどり着けないであろう。

  section.contents
    h1.contents__title
      | 鈴木寛教授
    h2.contents__subtitle － すずかん先生について －
    .contents__desc.lecturer
      h3.lecturer__desc
        | 駒場の比較文学で修士を取った後、国際的に活躍する指揮者木許裕介氏、官僚として国家を支えながら、国家の在り方を探り続ける筒井諒太郎氏、某大企業を辞め、人工知能を研究するため、東大博士となった大野元己氏、東大嫌いを公言しながら、東大に多くのイノベーションを提供し続けている田中和哉氏、それぞれ道を究めんとする若き猛者たちから学ぶことが出来ず、学芸饗宴の境地にたどり着けないであろう。
