extends /layout/_DefaultLayout

prepend ConfigBlock
  - page_name = ''

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock
  include /layout/_header
  section.top
    .top__slider.js-slider
      .js-slider-ele: img(data-lazy="img/top.png")
      .js-slider-ele: img(data-lazy="img/top.png")
      .js-slider-ele: img(data-lazy="img/top.png")
    h1.top__catchcopy
      | － 火曜日の夜、学術と芸術を求めんとする若者が駒場に集う －
  article.news
    h1.news__title News & Topic
    ul.news__lists
      li.news__item 2017/03/20 ほにゃらら
      li.news__item 2017/04/01 ほげほげ
  include /layout/_footer
