extends /layout/_DefaultLayout

prepend ConfigBlock
  - page_name = ''

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock
  section.contents
    h1.contents__title
      | スケジュール
    .schedule
      h2.schedule__theme イントロダクション
      .schedule__inner
        h3.schedule__date 4月11日
        h3.schedule__title ガイダンス（受講者選抜のための筆記テスト）
      .schedule__inner
        h3.schedule__date 4月18日
        h3.schedule__title 初回授業

    .schedule
      h2.schedule__theme 権力をめぐって
      .schedule__inner
        h3.schedule__date 4月25日
        h3.schedule__title 文部科学省官僚：筒井諒太郎氏による講義
      .schedule__inner
        h3.schedule__date 5月2日
        h3.schedule__title 学生による読書会と討議（フーコー、および国家論）
      .schedule__inner
        h3.schedule__date 5月10日
        h3.schedule__title 社会学者：山本哲士氏によるフーコー国家論講義

    .schedule
      h2.schedule__theme 生命をめぐって
      .schedule__inner
        h3.schedule__date 5月17日
        h3.schedule__title 科学哲学研究者：大野元己氏による講義
      .schedule__inner
        h3.schedule__date 5月25日
        h3.schedule__title 学生による読書会と討議（生命論）
      .schedule__inner
        h3.schedule__date 5月末ないしは6月初旬
        h3.schedule__title 東大名誉教授：清水博氏による生命論講義

    .schedule
      h2.schedule__theme 存在をめぐって
      .schedule__inner
        h3.schedule__date 6月6日
        h3.schedule__title 合宿準備
      .schedule__inner
        h3.schedule__date 6月10,11日
        h3.schedule__title 合宿（八ヶ岳？）鷲田清一氏による講義の可能性あり
      .schedule__inner
        h3.schedule__date 6月13日
        h3.schedule__title ダイアログ・イン・ザ・ダーク体験とディスカッション

    .schedule
      h2.schedule__theme 芸術と身体をめぐって
      .schedule__inner
        h3.schedule__date 6月20日
        h3.schedule__title 指揮者：木許裕介氏による講義
      .schedule__inner
        h3.schedule__date 6月27日
        h3.schedule__title 学生による読書会と討議（芸術と身体）
      .schedule__inner
        h3.schedule__date 7月4日
        h3.schedule__title 作曲家：薮田翔一氏による講義
      .schedule__inner
        h3.schedule__date 7月11日
        h3.schedule__title 古武術研究家：甲野義紀氏による身体論講義

    .schedule
      h2.schedule__theme フィナーレ
      .schedule__inner
        h3.schedule__date 7月18日
        h3.schedule__title 鼎談「学芸饗宴」（上野フェニックスサロンにて）
      .schedule__inner
        h3.schedule__date 8月1日
        h3.schedule__title まとめ・学生発表
