@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrapper {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../img/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("fonts/slick.eot");
  src: url("fonts/slick.eot?#iefix") format("embedded-opentype"), url("fonts/slick.woff") format("woff"), url("fonts/slick.ttf") format("truetype"), url("fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
@media (min-width: 800px) {
  .slick-dotted.slick-slider {
    margin-bottom: 50px; } }

@media (max-width: 799px) {
  .slick-dotted.slick-slider {
    margin-bottom: 40px; } }

.slick-dots {
  position: absolute;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  @media (min-width: 800px) {
    .slick-dots {
      margin-top: 10px; } }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #fff;
        opacity: 0.6;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: #eac193;
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.text-hidden {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  height: 0px; }

.img_default, .header__logo img, .hearer__share--twi img, .hearer__share--fb img, .top__share--twi img, .top__share--fb img {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto; }

.loader {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 9998; }

.loader__inner {
  display: none;
  position: fixed;
  top: 50%;
  margin-top: -150px;
  width: 100%;
  height: 500px;
  text-align: center;
  color: #fff;
  z-index: 9999; }

.loader__img {
  width: 60px;
  height: 60px; }

.loader__desc {
  margin-top: 80px;
  color: #eac193;
  font-size: 28px;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif; }
  @media (max-width: 799px) {
    .loader__desc {
      font-size: 18px; } }

@media (max-width: 799px) {
  .ispc {
    display: none; } }

@media (min-width: 800px) {
  .issp {
    display: none; } }

html, body {
  width: 100%;
  background-color: #000;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative; }

.wrapper {
  color: #eac193;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  display: none; }

a {
  color: #eac193;
  text-decoration: none; }

.header {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  border-bottom: 2px solid #eac193;
  background-color: #000;
  z-index: 100;
  transition: 0.6s ease; }
  @media (min-width: 800px) {
    .header {
      padding: 20px 30px 15px 30px; } }
  @media (max-width: 799px) {
    .header {
      position: fixed;
      height: 80px;
      top: 0px;
      overflow-y: hidden; } }

@media (min-width: 800px) {
  .header__logo {
    width: 250px;
    height: 84px; } }

@media (max-width: 799px) {
  .header__logo {
    width: 120px;
    height: 40px;
    padding-left: 5px;
    padding-top: 5px; } }

.header__subtitle {
  color: #fff; }
  @media (min-width: 800px) {
    .header__subtitle {
      font-size: 20px;
      padding-top: 6px; } }
  @media (max-width: 799px) {
    .header__subtitle {
      font-size: 12.5px;
      padding-top: 5px;
      padding-left: 5px;
      padding-right: 15px;
      box-sizing: border-box; } }

.header__menu {
  transition: 0.6s ease; }
  @media (min-width: 800px) {
    .header__menu {
      width: 100%;
      margin-top: 25px;
      font-size: 17px; } }

.header__menu__lists {
  text-align: right; }
  @media (max-width: 799px) {
    .header__menu__lists {
      position: absolute;
      display: block;
      top: 90px;
      width: 100%;
      border-bottom: 1px solid #eac193; } }

.header__menu__item {
  display: inline-block;
  margin-left: 25px;
  line-height: 30px;
  vertical-align: middle;
  box-sizing: border-box; }
  @media (max-width: 799px) {
    .header__menu__item {
      display: block;
      margin-left: 0;
      padding-right: 20px;
      line-height: 40px;
      border-bottom: 1px solid rgba(234, 193, 147, 0.8); } }

.header__share {
  position: absolute;
  top: 100px;
  right: 20px; }
  @media (max-width: 799px) {
    .header__share {
      top: 355px; } }

.hearer__share--twi {
  width: 45px;
  height: 45px; }

.hearer__share--fb {
  width: 45px;
  height: 45px;
  margin-left: 20px; }

.nav-toggle {
  position: fixed;
  top: 14px;
  right: 20px;
  width: 40px;
  height: 35px; }

.nav-toggle__inner {
  width: 45px;
  height: 45px;
  border: #eac193 2px solid;
  border-radius: 5px; }

.nav-toggle__ele {
  transition: 0.6s ease; }
  .nav-toggle__ele:nth-of-type(1) {
    position: absolute;
    top: 11px;
    left: 11px;
    width: 25px;
    height: 1px;
    background-color: #eac193;
    border: #eac193 1px solid;
    border-radius: 2px; }
  .nav-toggle__ele:nth-of-type(2) {
    position: absolute;
    top: 17px;
    left: 11px;
    width: 25px;
    height: 1px;
    background-color: #eac193;
    border: #eac193 1px solid;
    border-radius: 2px; }
  .nav-toggle__ele:nth-of-type(3) {
    position: absolute;
    top: 23px;
    left: 11px;
    width: 25px;
    height: 1px;
    background-color: #eac193;
    border: #eac193 1px solid;
    border-radius: 2px; }
  .nav-toggle__ele:nth-of-type(4) {
    position: absolute;
    top: 30px;
    left: 9px;
    width: 20px;
    height: 1px;
    color: #eac193;
    font-size: 10px; }

.js_nav_open {
  height: 420px; }
  .js_nav_open .nav-toggle__ele:nth-child(1) {
    width: 20px;
    top: 17px;
    left: 13px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .js_nav_open .nav-toggle__ele:nth-child(2) {
    width: 20px;
    top: 17px;
    left: 13px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .js_nav_open .nav-toggle__ele:nth-child(3) {
    width: 20px;
    top: 17px;
    left: 13px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }

@media (max-width: 799px) {
  .top {
    margin-top: 80px; } }

.top__slider {
  border-bottom: 2px solid #eac193; }
  .top__slider img {
    width: 100%; }

.top__catchcopy {
  width: 100%;
  text-align: center;
  font-size: 21px;
  margin-top: 25px; }
  @media (max-width: 799px) {
    .top__catchcopy {
      padding: 0 15px;
      margin-top: 15px;
      box-sizing: border-box;
      font-size: 16px; } }

.top__share {
  margin: auto;
  width: 120px;
  margin-top: 15px; }

.top__share--twi {
  width: 40px;
  height: 40px; }

.top__share--fb {
  width: 40px;
  height: 40px;
  margin-left: 40px; }

.news {
  width: 100%;
  box-sizing: border-box;
  margin-left: 40px;
  margin-top: 50px; }
  @media (max-width: 799px) {
    .news {
      margin-left: 15px;
      margin-top: 20px; } }

.news__title {
  font-size: 18px;
  margin-bottom: 6px; }
  @media (max-width: 799px) {
    .news__title {
      font-size: 15px; } }

.news__lists {
  color: #fff;
  font-size: 15px;
  margin-left: 20px; }
  @media (max-width: 799px) {
    .news__lists {
      font-size: 12px;
      margin-left: 11px; } }

.news__item {
  padding-top: 5px; }
  @media (max-width: 799px) {
    .news__item {
      padding-top: 2px; } }

.footer {
  margin-top: 30px;
  border-top: 2px solid #eac193; }

.footer__copyright {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 14px; }
  @media (max-width: 799px) {
    .footer__copyright {
      font-size: 11px; } }

.contents {
  margin: auto;
  margin-top: 50px;
  padding-bottom: 20px; }
  @media (min-width: 800px) {
    .contents {
      width: 80%;
      min-width: 800px; } }
  @media (max-width: 799px) {
    .contents {
      width: 100%;
      margin-top: 115px;
      padding: 0 15px;
      box-sizing: border-box; }
      .contents:nth-of-type(2), .contents:nth-of-type(3) {
        margin-top: 80px; } }

.contents__title {
  margin-bottom: 20px;
  text-align: center; }
  @media (min-width: 800px) {
    .contents__title {
      font-size: 30px; } }
  @media (max-width: 799px) {
    .contents__title {
      font-size: 24px; } }

.contents__subtitle {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 20px; }
  @media (min-width: 800px) {
    .contents__subtitle {
      font-size: 24px; } }
  @media (max-width: 799px) {
    .contents__subtitle {
      font-size: 15px; } }

.contents__desc {
  box-sizing: border-box;
  color: #fff;
  line-height: 1.8em; }
  @media (min-width: 800px) {
    .contents__desc {
      font-size: 20px;
      padding: 20px; } }
  @media (max-width: 799px) {
    .contents__desc {
      font-size: 15px; } }

.about__desc {
  line-height: 2em; }

@media (min-width: 800px) {
  .lecturer__name {
    font-size: 22px;
    margin-bottom: 5px; } }

@media (max-width: 799px) {
  .lecturer__name {
    font-size: 18px;
    padding-top: 15px; } }

@media (min-width: 800px) {
  .lecturer__desc {
    font-size: 18px;
    margin-bottom: 30px;
    padding-left: 25px; } }

@media (max-width: 799px) {
  .lecturer__desc {
    font-size: 14px;
    margin-bottom: 20px; } }

@media (min-width: 800px) {
  .schedule {
    width: 800px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px; } }

@media (max-width: 799px) {
  .schedule {
    width: 100%;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 45px; } }

.schedule__theme {
  margin-bottom: 20px;
  color: #eac193;
  font-size: 22px;
  text-align: center;
  text-decoration: underline; }
  @media (max-width: 799px) {
    .schedule__theme {
      font-size: 18px;
      margin-bottom: 10px; } }

.schedule__inner {
  margin-bottom: 5px;
  color: #fff; }
  @media (min-width: 800px) {
    .schedule__inner {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      font-size: 19px; } }
  @media (max-width: 799px) {
    .schedule__inner {
      font-size: 15px;
      line-height: 1.4; } }

@media (min-width: 800px) {
  .schedule__date {
    width: 30%;
    text-align: right; } }

@media (max-width: 799px) {
  .schedule__date {
    margin-bottom: 5px; }
    .schedule__date:before {
      content: "［"; }
    .schedule__date:after {
      content: "］"; } }

@media (min-width: 800px) {
  .schedule__title {
    width: 70%;
    text-indent: 40px; } }

@media (max-width: 799px) {
  .schedule__title {
    margin-bottom: 15px; } }
