// reset css
@import 'node_modules/reset.css/reset.css';

// config
@import 'variable', 'function', 'mixin', 'keyframes';

// modules
@import 'module/*';

.text-hidden {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  height: 0px;
}

.img_default {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
}

.loader {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 9998;
}
.loader__inner {
  display: none;
  position: fixed;
  top: 50%;
  margin-top: -150px;
  width: 100%;
  height: 500px;
  text-align: center;
  color: #fff;
  z-index: 9999;
}
.loader__img {
  width: 60px;
  height: 60px;
}

.loader__desc {
  margin-top: 80px;
  color: #eac193;
  font-size: 28px;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  @include sp-layout {
    font-size: 18px;
  }
}

.ispc {
  @include sp-layout {
    display: none;
  }
}

.issp {
  @include pc-layout {
    display: none;
  }
}




html, body {
  width: 100%;
  background-color: #000;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
}

.wrapper {
  color: #eac193;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  display: none;
}

a {
  color: #eac193;
  text-decoration: none;
}

.header {
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  border-bottom: 2px solid #eac193;
  background-color: #000;
  z-index: 100;
  @include pc-layout {
    top: 0px;
    height: 215px;
    padding: 20px 30px 15px 30px;
    &, * {
      transition: all 0.6s ease;
    }
  }
  @include sp-layout {
    height: 80px;
    top: 0px;
    overflow-y: hidden;
    transition: 0.6s ease;
  }
}

.header__logo {
  @include pc-layout {
    width: 250px;
    height: 84px;
  }
  @include sp-layout {
    width: 120px;
    height: 40px;
    padding-left: 5px;
    padding-top: 5px;
  }
  img {
    @extend .img_default;
  }
}


.header__subtitle {
  color: #fff;
  @include pc-layout {
    font-size: 20px;
    padding-top: 6px;
  }
  @include sp-layout {
    font-size: 12.5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 15px;
    box-sizing: border-box;
  }
}

.header__menu {
  @include sp-layout {
    transition: 0.6s ease;
  }
  @include pc-layout {
    width: 100%;
    margin-top: 25px;
    font-size: 17px;
  }
}

.header__menu__lists {
  text-align: right;
  @include sp-layout {
    position: absolute;
    display: block;
    top: 90px;
    width: 100%;
    border-bottom: 1px solid rgba(234, 193, 147, 1);
  }
}

.header__menu__item {
  display: inline-block;
  margin-left: 25px;
  line-height: 30px;
  vertical-align: middle;
  box-sizing: border-box;
  @include sp-layout {
    display: block;
    margin-left: 0;
    padding-right: 20px;
    line-height: 40px;
    border-bottom: 1px solid rgba(234, 193, 147, 0.8);
  }
}

.header__share {
  position: absolute;
  top: 100px;
  right: 20px;
  @include sp-layout {
    top: 355px;
  }
}

.hearer__share--twi {
  width: 45px;
  height: 45px;
  img {
    @extend .img_default;
  }
}

.hearer__share--fb {
  width: 45px;
  height: 45px;
  margin-left: 20px;
  img {
    @extend .img_default;
  }
}

.nav-toggle {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 45px;
  height: 45px;
}

.nav-toggle__inner {
  width: 45px;
  height: 45px;
  border: #eac193 2px solid;
  border-radius: 5px;
}

.nav-toggle__ele {
  transition: 0.6s ease;
  &:nth-of-type(1) {
    position: absolute;
    top: 11px;
    left: 11px;
    width: 25px;
    height: 1px;
    background-color: #eac193;
    border: #eac193 1px solid;
    border-radius: 2px;
  }
  &:nth-of-type(2) {
    position: absolute;
    top: 17px;
    left: 11px;
    width: 25px;
    height: 1px;
    background-color: #eac193;
    border: #eac193 1px solid;
    border-radius: 2px;
  }
  &:nth-of-type(3) {
    position: absolute;
    top: 23px;
    left: 11px;
    width: 25px;
    height: 1px;
    background-color: #eac193;
    border: #eac193 1px solid;
    border-radius: 2px;
  }
  &:nth-of-type(4) {
    position: absolute;
    top: 30px;
    left: 9px;
    width: 20px;
    height: 1px;
    color: #eac193;
    font-size: 10px;
  }
}

.js_nav_open {
  height: 420px;
  .nav-toggle__ele {
    &:nth-child(1) {
      width: 20px;
      top: 17px;
      left: 13px;
      transform: rotate(-45deg);
    }
    &:nth-child(2) {
      width: 20px;
      top: 17px;
      left: 13px;
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      width: 20px;
      top: 17px;
      left: 13px;
      transform: rotate(45deg);
    }
  }
}

.header.smaller {
  height: 120px;
  .header__logo {
    width: 180px;
    height: 60px;
  }
  .header__subtitle {
    font-size: 16px;
    position: absolute;
    top: 45px;
    left: 240px;
  }
  .header__menu {
    margin-top: 0px;
  }
  .header__menu__item {
    font-size: 15px;
  }
  .header__share {
    top: 20px;
  }
  .header__share--twi {
    width: 30px;
    height: 30px;
    img {
      @extend .img_default;
    }
  }
  .header__share--fb {
    width: 30px;
    height: 30px;
    img {
      @extend .img_default;
    }
  }
}

.main {
  @include pc-layout {
    margin-top: 215px;
  }
}


.top {
  @include sp-layout {
    margin-top: 80px;
  }
}

.top__slider {
  border-bottom: 2px solid #eac193;
  img {
    width: 100%;
  }
}

.top__catchcopy {
  width: 100%;
  text-align: center;
  font-size: 21px;
  margin-top: 25px;
  @include sp-layout {
    padding: 0 15px;
    margin-top: 15px;
    box-sizing: border-box;
    font-size: 16px;
  }
}

.top__share {
  margin: auto;
  width: 120px;
  margin-top: 15px;
}

.top__share--twi {
  width: 40px;
  height: 40px;
  img {
    @extend .img_default;
  }
}

.top__share--fb {
  width: 40px;
  height: 40px;
  margin-left: 40px;
  img {
    @extend .img_default;
  }
}

.news {
  width: 100%;
  box-sizing: border-box;
  margin-left: 40px;
  margin-top: 50px;
  @include sp-layout {
    margin-left: 15px;
    margin-top: 20px;
  }
}

.news__title {
  font-size: 18px;
  margin-bottom: 6px;
  @include sp-layout {
    font-size: 15px;
  }
}

.news__lists {
  color: #fff;
  font-size: 15px;
  margin-left: 20px;
  @include sp-layout {
    font-size: 12px;
    margin-left: 11px;
  }
}

.news__item {
  padding-top: 5px;
  @include sp-layout {
    padding-top: 2px;
  }
}

.footer {
  margin-top: 30px;
  border-top: 2px solid #eac193;
}

.footer__copyright {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 14px;
  @include sp-layout {
    font-size: 11px;
  }
}

.contents {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 20px;
  @include pc-layout {
    width: 80%;
    min-width: 800px;
  }
  @include sp-layout {
    width: 100%;
    margin-top: 115px;
    padding: 0 15px;
    box-sizing: border-box;
    &:nth-of-type(2), &:nth-of-type(3) {
      margin-top: 80px;
    }
  }
}

.contents__title {
  margin-bottom: 20px;
  text-align: center;
  @include pc-layout {
    font-size: 30px;
  }
  @include sp-layout {
    font-size: 24px;
  }
}

.contents__subtitle {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 20px;
  @include pc-layout {
    font-size: 24px;
  }
  @include sp-layout {
    font-size: 15px;
  }
}

.contents__desc {
  box-sizing: border-box;
  color: #fff;
  line-height: 1.8em;
  @include pc-layout {
    font-size: 20px;
    padding: 20px;
  }
  @include sp-layout {
    font-size: 15px;
  }
}

.about__desc {
  line-height: 2em;
}

.lecturer__name {
  @include pc-layout {
    font-size: 22px;
    margin-bottom: 5px;
  }
  @include sp-layout {
    font-size: 18px;
    padding-top: 15px;
  }
}

.lecturer__desc {
  @include pc-layout {
    font-size: 18px;
    margin-bottom: 30px;
    padding-left: 25px;
  }
  @include sp-layout {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.schedule {
  @include pc-layout {
    width: 800px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  @include sp-layout {
    width: 100%;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 45px;
  }
}

.schedule__theme {
  margin-bottom: 20px;
  color: #eac193;
  font-size: 22px;
  text-align: center;
  text-decoration: underline;
  @include sp-layout {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.schedule__inner {
  margin-bottom: 5px;
  color: #fff;
  @include pc-layout {
    display: flex;
    font-size: 19px;
  }
  @include sp-layout {
    font-size: 15px;
    line-height: 1.4;
  }
}

.schedule__date {
  @include pc-layout {
    width: 30%;
    text-align: right;
  }
  @include sp-layout {
    margin-bottom: 5px;
    &:before {
      content: "［"
    }
    &:after {
      content: "］"
    }
  }
}

.schedule__title {
  @include pc-layout {
    width: 70%;
    text-indent: 40px;
  }
  @include sp-layout {
    margin-bottom: 15px;
  }
}
